#about-page {
  padding: 39px 16px 0px 16px;
  background: rgb(1, 14, 36);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;

  div.particlejs {
    // display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    user-select: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
  }

  .page-desc {
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .title {
    margin-top: 16px;
  }

  canvas {
    z-index: -1;
    user-select: none;
    pointer-events: none;
  }

  #about-thanks {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    margin-top: 8px;

    div {
      margin-right: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      cursor: pointer !important;
    }

    #blockchair {
      width: 120px;
    }

    #btc-com {
      height: 36px;
    }

    #coinranking {
      height: 24px;
      margin-right: 8px;
      display: inline-block;
    }
  }

  #contacts {
    #icons {
      display: flex;

      div {
        display: flex;
        align-items: center;
        margin-right: 8px;

        img {
          width: 20px;
          height: 20px;
          margin-right: 8px;
          display: inline-block;
        }
      }
    }

    #home-link {
      margin-top: 8px;
    }
  }

  div#close {
    position: absolute;
    bottom: 4px;
    left: 4px;
    right: 20px;

    button {
      height: 36px;
    }
  }

  a {
    text-decoration: none;
    color: white;
    transition: all 0.5s;
  }

  a:hover {
    color: deepskyblue;
    transition: all 0.5s;
  }
}
