.root-page {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.top-most {
  z-index: 99999999 !important;
}

#win-title-bar {
  position: fixed;
  top: 0;
  left: 68px;
  right: 0;
  display: flex;
  justify-content: flex-end;
  height: 26px;
  z-index: 0;
  padding: 4px 4px 4px 0px;
  background: rgba(0, 0, 0, 0);

  button {
    border: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    padding: 0;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;

    img {
      width: 4px;
      height: 4px;
      opacity: 0;
      user-select: none;
    }
  }

  button.minimize {
    background: rgb(255, 175, 27);
  }

  button.maximize {
    background: rgb(12, 206, 12);

    img {
      width: 6px;
      height: 6px;
    }
  }

  button.quit {
    background: rgb(223, 16, 95);
  }

  button:hover {
    opacity: 0.8;
    transition: all 0.5s;

    img {
      opacity: 1;
    }
  }

  button:active {
    opacity: 0.5;
    transition: all 0.5s;
  }
}
