.home {
  display: grid;
  background: rgb(17, 15, 41);
  width: 100vw;
  height: 100vh;

  grid-template-columns: 64px auto;
}

.home-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: 1;
  background: rgb(1, 3, 34);
  box-shadow: 2px 0px 14px -2px rgba(7, 8, 20, 1);

  .icons {
      display: flex;
      flex-direction: column;
  }

  div.icon {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  div.icon:hover {
      background-color: rgb(48, 66, 83);
      transition: all 0.5s;
  }

  div.icon:active {
      background-color: rgb(71, 84, 148);
  }

  div.selected {
      background-color: rgb(29, 84, 185);
  }
}

.home-content {
  grid-column: 2;
}

.titlebar-padding {
    padding-top: 24px;
}