body,
html {
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(25, 32, 48);
}

body {
  overflow: hidden;
}

​ .switch {
  transition: all 0.05s;
}

.fadeIn {
  opacity: 1;
  transition: opacity 0.5s;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.5s;
}

// span {
//   transition: all 0.5s;
// }

@import url("https://fonts.googleapis.com/css?family=Lato|Questrial|Quicksand");

.lato {
  font-family: "Lato", sans-serif;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
}

.questrial {
  font-family: "Questrial", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.btc {
  color: #f7931a;
}

.eth {
  color: #627eea;
}

.bch {
  color: #8dc351;
}

.ltc {
  color: #bfbbbb;
}

.usdt {
  color: #26a17b;
}

.rise {
  color: #44b329;
  transition: all 0.5s;
}

.in {
  color: #1dce06;
}

.out {
  color: #dd0b51;
}

.drop {
  color: rgb(194, 6, 53);
  transition: all 0.5s;
}

button {
  width: 100%;
  outline: none;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 3px;
  border: none;
  font-size: 12px;
  color: white;
  background-color: #4080d3;
  margin: 8px;
  cursor: pointer;
  -webkit-app-region: no-drag;

  transition: all 0.5s;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(0, 0, 0, 0.555);
  transition: all 0.5s;
}

button:active {
  background-color: white;
  color: black;
  transition: all 0.5s;
}

input {
  margin: 8px 12px 0px 12px;

  display: block;
  color: #badeff;
  font-size: 18px;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 11px;
  padding-right: 8px;
  background-color: rgba(0, 0, 0, 0.125);
  outline: none;
  border: none;
  border-radius: 6px;

  -webkit-app-region: no-drag;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

// div::-webkit-scrollbar {
//   width: 1px;
//   background-color: transparent;
// }

div::-webkit-scrollbar-thumb {
  background-color: #5622cf86;
  color: #5622cf86;
}

div::-webkit-scrollbar-track {
  background: none;
}

.page-title {
  font-family: Questrial, "Segoe UI", sans-serif;
  font-size: 24px;
}

.app-drag {
  -webkit-app-region: drag;
}

/* total width */
.scrollbar::-webkit-scrollbar {
  background-color: transparent;
  width: 16px;
}

/* background of the scrollbar except button or resizer */
.scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollbar::-webkit-scrollbar-track:hover {
  background-color: #f4f4f44f;
}

/* scrollbar itself */
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: none;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: none;
}

/* set button(top and bottom of the scrollbar) */
.scrollbar::-webkit-scrollbar-button {
  display: none;
}

.no-drag {
  -webkit-app-region: no-drag;
}

div {
  overflow-x: hidden;
}
