#lock-screen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  background: rgba(154, 205, 50, 0.5);

  #clock {
    position: absolute;
    right: 12px;
    bottom: 12px;
  }

  .clock {
    font-size: 15px;
    color: white;
  }

  display: flex;
  justify-content: center;
  align-content: center;

  #security {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    #lock-screen-validation {
      width: 72px;
      height: 72px;
      position: absolute;
      left: calc (50% - 36);
      right: calc (50% - 36);

      top: 20%;
    }

  }
}
