#newkey-page {
  background: rgb(18, 165, 233);

  #newkey-content {
    grid-area: content;
    margin-top: 3.5vh;
    margin-left: 12px;
    margin-right: 12px;
    font-size: 14px;

    #mnemonic {
      background: rgba(0, 0, 0, 0.1);
      margin: 12px -12px 12px -12px;
      padding: 10px 14px 10px 14px;
      font-size: 16px;
    }
  }
}
