#paper-key {
  height: 100%;
  background-color: deepskyblue;

  padding-top: 39px;
  padding-left: 16px;
  padding-right: 16px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  box-sizing: border-box;

  #paper-key-desc {
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  #mnemonic-phrases {
    margin-left: -16px;
    margin-right: -16px;
    padding: 8px 16px 8px 16px;
    background: rgba(0, 0, 0, 0.144);
  }

  #derivation-path-title {
    margin-top: 12px;
    margin-bottom: 8px;
    font-size: 17px;
  }

  #derivation-path {
    img {
      width: 15px;
      height: 15px;
      margin-right: 12px;
      display: inline-block;
      margin-top: 5px;
    }

    span {
      font-size: 15px;
      font-family: Helvetica, sans-serif;
    }

    div {
      line-height: 20px;
      vertical-align: middle;
      border-bottom: 1px dashed rgba(255, 255, 255, 0.212);
    }
  }

  #close {
    position: absolute;
    bottom: 2px;
    left: 2px;
    right: 18px;

    button {
      height: 36px;
    }
  }
}
