#receiving {
  display: grid;
  grid-template-rows: 150px auto;
  height: 100%;
  background: rgb(250, 106, 178);
  max-width: 100%;
  overflow: hidden;

  #info {
    grid-row: 1;
    font-size: 12px;
    max-width: 100%;
    padding: 39px 12px 12px 12px;
    color: white;

    div {
      max-width: 72vw;
      font-size: 17px;
      user-select: text;
      -webkit-app-region: no-drag;
      word-wrap: break-word;
      overflow-wrap: break-word;
      margin-top: 8px;
      border: 1px dashed white;
      padding: 8px 12px 8px 12px;
    }
  }

  #qrcode {
    grid-row: 2;
    padding: 24px;
    height: 100%;
    position: relative;

    #qrcode-container {
      position: absolute;
      right: 26px;
      bottom: 72px;

      #title {
        margin-bottom: 6px;
        font-size: 12px;
      }
    }
  }
}
