#receiving {
  display: grid;
  grid-template-rows: 200px auto;
  height: 100%;
  background: rgb(250, 106, 178);
  overflow: hidden;

  #info {
    grid-row: 1;
    font-size: 12px;
    padding: 39px 16px 12px 16px;
    color: white;
    overflow: hidden;

    div#selection {
      margin: 8px 0px 8px 0px;
    }

    div#address {
      font-size: 17px;
      user-select: text;
      -webkit-app-region: no-drag;
      word-wrap: break-word;
      word-break: break-all;
      overflow-wrap: break-word;
      margin-top: 8px;
      margin-left: 1px;
      margin-right: 1px;
      border: 1px dashed white;
      padding: 8px 12px 8px 12px;
    }

    #address-type {
      display: flex;
      margin-top: 8px;
      margin-bottom: 8px;

      .radio {
        border-radius: 12px;
        background: rgba(255, 255, 255, 0.171);
        padding: 3px 12px 3px 12px;
        margin-right: 8px;
        text-align: center;
        cursor: pointer;
        transition: all 0.5s;
      }

      .radio:hover {
        background: rgba(255, 255, 255, 0.5);
        color: rgba(0, 0, 0, 0.8);
        transition: all 0.5s;
      }

      .radio:active{
        background: white;
        color: black;
        transition: all 0.5s;
      }

      .selected {
        background: white;
        color: black;
      }
    }
  }

  #qrcode {
    grid-row: 2;
    padding: 24px;
    height: 100%;

    #logo {
      display: block;
      position: absolute;
      bottom: 12px;
      left: 12px;
      opacity: 0.15;
      width: 96px;
    }

    #qrcode-container {
      position: absolute;
      right: 16px;
      bottom: 12px;

      #title {
        margin-bottom: 6px;
        font-size: 12px;
      }
    }
  }
}
