#recover-page {
  background: rgb(116, 201, 4);

  #recover-content {
    margin-top: 3.5vh;
    grid-area: content;
    margin-left: 12px;
    margin-right: 12px;
    font-size: 14px;

    .title {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 100;
      font-size: 24px;
      margin-bottom: 12px;
    }

    #mnemonic {
      box-sizing: border-box;
      color: white;
      background: none;
      border: 1px solid #fff;
      outline: none;
      width: 100%;
      border-radius: 6px;
      margin-top: 12px;
      font-size: 16px;
      resize: none;
      padding: 4px 6px 4px 6px;
    }
  }

  button.disabled {
    cursor: not-allowed;
    background: none !important;
    color: rgba(105, 105, 105, 0.37) !important;
  }
}
