#recover-page {
  background: rgb(116, 201, 4);

  #recover-content {
    margin-top: 3.5vh;
    grid-area: content;
    margin-left: 12px;
    margin-right: 12px;
    font-size: 14px;

    #mnemonic {
      box-sizing: border-box;
      color: white;
      background: none;
      border: 1px solid #fff;
      outline: none;
      width: 100%;
      border-radius: 6px;
      margin-top: 12px;
      font-size: 16px;
      resize: none;
      padding: 4px 6px 4px 6px;
    }

    textarea {
      transition: all 0.5s;
    }

    textarea.valid {
      border-color: #c4ff3d !important;
      color: #d4fa7b !important;
      transition: all 0.5s;
    }
  }

}
