.sending {
  background: #1988f7;
  padding-top: 3.5vh;

  width: 100%;
  height: 96.5vh;

  display: grid;
  grid-template-rows: auto 56px;
  grid-template-areas:
    "compose"
    "buttons";

  .compose-area {
    grid-area: compose;
    padding-top: 10px;
    height: 80vh;
    overflow: scroll;
  }

  .compose {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;

    input {
      margin: 8px 12px 0px 12px;

      display: block;
      color: rgb(174, 185, 220);
      font-size: 18px;
      text-indent: 42px;
      padding-top: 12px;
      padding-bottom: 11px;
      padding-right: 8px;
      background-color: rgba(44, 82, 231, 0.24);
      outline: none;
      border: none;
      border-radius: 6px;
    }

    img {
      position: absolute;
      left: 25px;
    }

    img.send {
      top: 20px;
    }

    img.calc {
      top: 72px;
    }

    img.pen {
      top: 125px;
      left: 26px;
    }
  }

  .buttons {
    grid-area: buttons;
    display: flex;
    justify-content: space-evenly;
    padding-left: 8px;
    padding-right: 8px;

    button {
      transition: all 0.5s;
    }

    .cancel {
      background: rgb(37, 50, 90);
    }

    .cancel:hover {
      background: rgba(37, 50, 90, 0.75);
    }

    .confirm {
      background: rgb(103, 212, 2);
    }

    .confirm:hover {
      background: rgba(103, 212, 2, 0.75);
    }

    button:active {
      background: rgb(230, 230, 230) !important;
      color: black;
    }
  }
}
