.sending {
  background: #1988f7;
  padding-top: 3.5vh;

  width: 100%;
  height: 96.5vh;

  display: grid;
  grid-template-rows: auto 54px;
  grid-template-areas:
    "compose"
    "buttons";

  .compose-area {
    grid-area: compose;
    padding-top: 10px;
    min-height: 80vh;
    overflow: scroll;

    .message-input {
      border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
    }
  }

  input {
    margin: 8px 12px 0px 12px;

    display: block;
    color: #badeff;
    font-size: 18px;
    padding-left: 42px;
    padding-top: 12px;
    padding-bottom: 11px;
    padding-right: 8px;
    background-color: rgba(44, 82, 231, 0.24);
    outline: none;
    border: none;
    border-radius: 6px;

    -webkit-app-region: no-drag;
  }

  input::placeholder {
    color: rgba(255, 255, 255, 0.2);
  }

  .compose {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;

    img {
      position: absolute;
      left: 26px;
      width: 16px;
      height: 16px;
    }

    img.send {
      top: 22px;
    }

    img.calc {
      top: 74px;
    }

    img.pen {
      top: 127px;
    }
  }

  .plus-container {
    padding: 4px;
    display: flex;
    justify-content: flex-end;
  }

  div.mining {
    display: grid;
    position: relative;

    input.mining {
      padding-right: 52px;
    }

    img.mining {
      position: absolute;
      top: 23px;
      left: 27px;
      width: 14px;
      height: 14px;
    }

    span {
      display: block;
      margin-right: 22px;
      position: absolute;
      font-size: 10px;
      top: 24px;
      right: 0;
    }
  }

  button.plus {
    border-radius: 50%;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.45);
    color: rgba(255, 255, 255, 0.45);
    width: 32px;
    height: 32px;
    transition: all 0.5s;

    span {
      display: block;
      margin-top: -5px;
      font-size: 28px;
      font-weight: 200;
    }
  }

  button.plus:hover {
    background: rgba(255, 255, 255, 0.25);
    color: white;
    border-color: rgba(255, 255, 255, 0);
    transition: all 0.5s;
  }

  button.plus:active {
    background: white;
    border-color: white;
    color: black;
  }

  .buttons {
    grid-area: buttons;
    display: flex;
    justify-content: space-evenly;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;
    // background-color: black;

    button {
      transition: all 0.5s;
    }

    .cancel {
      background: rgb(37, 50, 90);
    }

    .cancel:hover {
      background: rgba(37, 50, 90, 0.75);
    }

    .confirm {
      background: rgb(103, 212, 2);
    }

    .confirm:hover {
      background: rgba(103, 212, 2, 0.75);
    }

    button:active {
      background: rgb(230, 230, 230) !important;
      color: black;
    }
  }

  div {
    transition: all 0.5s;
  }
}
