#settings {
  background: rgb(116, 201, 4);
  height: 100%;
  position: absolute;

  .clickable {
    cursor: pointer;
    transition: all 0.5s;
  }

  .clickable:hover {
    color: rgba(0, 0, 0, 0.4);
    transition: all 0.5s;
  }

  .setting-item {
    padding: 6px 12px 6px 12px;
    margin-bottom: 4px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 100fr 1fr;
    grid-template-areas:
      "title switch"
      "detail detail";

    .setting-title {
      grid-area: title;
      font-size: 22px;
      font-weight: 400;
      height: 33px;
    }

    .setting-detail {
      grid-area: detail;
      margin-top: -4px;
      font-size: 12px;
    }

    .setting-switch {
      grid-area: switch;

      .react-switch-bg {
        background: rgba(255, 255, 255, 0.95);
      }
    }
  }

  #expanding-page {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
}
