#transaction {
  background: rgb(30, 204, 38);
  height: 100%;

  display: grid;
  grid-template-rows: auto 54px;
  grid-template-areas:
    "content"
    "buttons";

  #transaction-details {
    grid-area: content;
    padding: 3.5vh 14px 0px 12px;
    display: grid;
    font-size: 15px;
    grid-template-rows: 124px auto;
    overflow-y: scroll;

    div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    #transaction-details-head {
      display: grid;
      height: 124px;
      grid-row: 1;
      grid-template-rows: 40px auto;
      grid-template-columns: auto 84px;
      grid-template-areas:
        "title ."
        "content qrcode";

      #transaction-details-title {
        grid-area: title;
      }

      #transaction-details-qrcode {
        grid-area: qrcode;
        display: flex;
        justify-content: flex-end;
        margin-top: -3px;
      }

      #transaction-details-head-content {
        grid-area: content;
        padding-right: 8px;
      }
    }

    #transaction-details-content {
      grid-row: 2;
      margin-top: 0px;

      #blockchair_logo {
        display: flex;
        justify-content: flex-end;

        img {
          cursor: pointer;
          height: 20px;
        }
      }
    }

    .amount {
      text-transform: uppercase;
    }

    .detail-item {
      display: grid;
      grid-template-columns: 72px auto;
      grid-template-areas: "label content";
      border-bottom: 1px dashed rgba(255, 255, 255, 0.25);
      margin-bottom: 6px;
      padding-bottom: 2px;
      font-family: "Segoe UI", Helvetica, Tahoma, Geneva, Verdana, sans-serif;
      line-height: 18px;

      .detail-item-label {
        grid-area: label;
      }

      .detail-item-content {
        grid-area: content;
      }
    }
  }

  #tx-buttons {
    grid-area: buttons;
    padding: 0px 20px 0px 4px;

    button {
      height: 36px;
      background-color: rgba(255, 255, 255, 0.25);
    }

    button:hover {
      background-color: rgba(255, 255, 255, 0.5);
    }

    button:active {
      background-color: white;
      color: black;
    }
  }
}
