#transaction {
  background: rgb(20, 209, 121);
  height: 100%;

  display: grid;
  grid-template-rows: auto 54px;
  grid-template-areas:
    "content"
    "buttons";

  #transaction-details {
      grid-area: content;
  }

  #tx-buttons {
      grid-area: buttons;
      padding: 0px 22px 0px 8px;

      button {
          height: 36px;
      }
  }
}
